<SettingsManager xmlns="http://schemas.datacontract.org/2004/07/IDL_for_NaturL.filemanager" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><fontSize>16</fontSize><language>french</language><severity>light</severity><syntaxFilePath>resources/user_coloration.xshd</syntaxFilePath></SettingsManager>